head
  link(rel="stylesheet", href="/styles.css", data-inline)

h1 Transakcja zakończona pomyślnie.

h2 Realizujemy Twoje zamówienie.

div(class='card')
  ul
    each id in productsIds
      li
        div(class='list-item')
          div(class='avatar')
            img(src=`http://offshop-1.s3.eu-central-1.amazonaws.com/${id}.avatar.jpg` alt=`${productsById[id].name}` width="40" height="40")
          div(class='item-text')
            span(class='primary') #{productsById[id].name} (#{productsById[id].quantity} szt.)
            p(class='secondary')
              span #{(productsById[id].unitPrice / 100).toFixed(2)} zł / szt.
      hr
  if Number(totalAmount) > totalWithoutDelivery
    li
      div(class='list-item')
        div(class='item-text')
          span(class='primary') Razem bez dostawy
          p(class='secondary')
            span #{(totalWithoutDelivery / 100).toFixed(2)} zł
    hr
    li
      div(class='list-item')
        div(class='item-text')
          span(class='primary') #{deliveryMethod.name} (#{(Number(totalWeight) / 100)} kg)
          p(class='secondary')
            span #{deliveryMethod.unitPrice} zł / kg x #{(Number(totalWeight) / 100)} kg = #{((Number(totalAmount) - totalWithoutDelivery) / 100).toFixed(2)} zł
    hr
    li
      div(class='list-item')
        div(class='item-text')
          span(class='primary') Razem z dostawą
          p(class='secondary')
            span #{(Number(totalAmount) / 100).toFixed(2)} zł
    hr
  else
    li
      div(class='list-item')
        div(class='item-text')
          span(class='primary')= deliveryMethod.name
          p(class='secondary')
            span 0.00 zł
    hr
    li
      div(class='list-item')
        div(class='item-text')
          span(class='primary') Razem
          p(class='secondary')
            span #{(Number(totalAmount) / 100).toFixed(2)} zł
    hr
