head
  link(rel="stylesheet", href="../styles.css", data-inline)

h1 #{description}

h2 Status zwrotu zamówienia: #{refund.status}

div(class='card')
  p(class="primary") Wykonaliśmy zwrot środków na Twoje konto.
  ul
    li
      div(class='list-item')
        div(class='item-text')
          span(class='primary') Status zwrotu
          p(class='secondary')
            span #{refund.status}
    hr
    li
      div(class='list-item')
        div(class='item-text')
          span(class='primary') Opis zwrotu
          p(class='secondary')
            span #{refund.description}
    hr
    li
      div(class='list-item')
        div(class='item-text')
          span(class='primary') Kwota zwrotu
          p(class='secondary')
            span #{(refund.amoount / 100).toFixed(2)} #{refund.currencyCode}
    hr
    each id in productsIds
      li
        div(class='list-item')
          div(class='item-text')
            span(class='primary') #{productsById[id].name} (#{productsById[id].quantity} szt.)
            p(class='secondary')
              span #{(productsById[id].unitPrice / 100).toFixed(2)} #{currencyCode} / szt.
      hr
  if Number(totalAmount) > totalWithoutDelivery
    li
      div(class='list-item')
        div(class='item-text')
          span(class='primary') Razem bez dostawy
          p(class='secondary')
            span #{(totalWithoutDelivery / 100).toFixed(2)} #{currencyCode}
    hr
    li
      div(class='list-item')
        div(class='item-text')
          span(class='primary') #{deliveryMethod.name} (#{(totalWeight / 100)} kg)
          p(class='secondary')
            span #{(deliveryMethod.unitPrice / 100).toFixed(2)} #{currencyCode} / kg x #{(totalWeight / 100).toFixed(2)} kg = #{((totalAmount - totalWithoutDelivery) / 100).toFixed(2)} #{currencyCode}
    hr
    li
      div(class='list-item')
        div(class='item-text')
          span(class='primary') Razem z dostawą
          p(class='secondary')
            span #{(totalAmount / 100).toFixed(2)} #{currencyCode}
    hr
  else
    li
      div(class='list-item')
        div(class='item-text')
          span(class='primary')= deliveryMethod.name
          p(class='secondary')
            span 0.00 #{currencyCode}
    hr
    li
      div(class='list-item')
        div(class='item-text')
          span(class='primary') Razem
          p(class='secondary')
            span #{(totalAmount / 100).toFixed(2)} #{currencyCode}
    hr